* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: rgb(235, 241, 243);
    margin-left: 8%;
    margin-right: 10%;
    margin-top: 8%
}

h1{
    font-size: 72px;
    font-family: 'Montserrat', sans-serif;;
    margin-bottom: 24px;
    color: rgb(235, 76, 27);
}

h2{
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 24px;
    color: rgb(27, 27, 27);
}

h3{
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 30px;
    color: rgb(27, 27, 27);
}

h4{
    font-size: 26px;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 12px;
    color: rgb(27, 27, 27);  
}

p{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 24px;
    color: rgb(27, 27, 27);
    line-height: 200%;
}

ol{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 24px;
    margin-left: 24px;
    color: rgb(27, 27, 27);
    line-height: 200%;
}

li{
    font-style: italic;
}

.pullquote {
    font-size: 24px;
    margin-bottom: 20px;
    color: rgb(235, 76, 27);
    line-height: 200%;
    font-style: italic;
}

.pullquote:hover {
    font-size: 24px;
    margin-bottom: 20px;
    color: rgb(255, 255, 255);
    line-height: 200%;
    font-style: italic;
}


#specialpullquote {
    font-size: 24px;
    margin-bottom: 20px;
    color: rgb(119, 119, 119);
    line-height: 200%;
}